.DS_Store
DiPlane/Assembly-UnityScript-vs.unityproj
DiPlane/Assembly-UnityScript.pidb
DiPlane/Assembly-UnityScript.unityproj
DiPlane/DiPlane-csharp.sln
DiPlane/DiPlane.sln
DiPlane/DiPlane.userprefs
DiPlane/Library/
DiPlane/Temp/
DiPlane/Assets/Plugins/
DiPlane/Assets/Scripts/LeapCSharp.NET3.5.dll
DiPlane/Assets/Scripts/LeapCSharp.bundle/
DiPlane/LeapCSharp.NET3.5.dll
DiPlane/libLeap.dylib
DiPlane/libLeapCSharp.dylib
DiPlane/Plugins/